name: Lint & type check

on:
  workflow_call:

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - run: uv sync --all-extras --dev

      - run: uv run prek run --all-files

      - run: uv run mypy src/
