name: PR checks

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prek:
    uses: ./.github/workflows/job-prek.yml

  test:
    uses: ./.github/workflows/job-test.yml
